{% extends 'base.html' %}

{% block content %}
  {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                   data-bs-target="#menu-{{ category.name|lower }}">
                    <h4>{{ category.name }}</h4>
                </a>
            </li><!-- End tab nav item -->
            {% endfor %}
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

  <div class="container mt-4">
    <h1>{{ bar_category.name }}</h1>
    <p class="text-muted">Category: {{ bar_category.category.name }}</p>

    <div class="row">
      {% for bar_item in bar_items %}
        <div class="col-md-4">
          <img src="{{ bar_item.image.url }}" alt="{{ bar_item.name }}" class="img-fluid mb-4">
          <h2>{{ bar_item.name }}</h2>
          <p>{{ bar_item.description }}</p>
          <p>Price: ${{ bar_item.price }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
